@font-face {
  font-family: 'Sysfont';
  src: url('fonts/sysfont.woff2') format('woff2'),
  url('fonts/sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Narrow';
  src: url('fonts/arial-narrow.woff2') format('woff2'),
       url('fonts/arial-narrow.woff') format('woff');
}

/*Basic Settings */
body, input, select{
  font-family: "Arial", sans-serif;
  font-size: 16px;
  
  align-items: center;
  justify-content: center;
  background-color: #2A2C30;
  color: #FFFFFF;
  
}



#list_sections input{
  font-family: "Arial", sans-serif;
  font-size: 12px;
  height: 24px;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  flex-flow: column;
  margin: 0 auto;
  padding: 2px 10px;
  border-radius: 18px;
  text-align: center;
  color:#B0B0B1;
  outline: 3px solid #18191B;
  background-color: #2B2D31;
  box-shadow:none;
  border: none;
  margin-bottom: -7px;
  transition: background-color 0.15s ease, color 0.15s ease, outline 0.15s ease;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
#list_sections input:hover{
  background-color: #3C3E44;
  color: #C4C4C5;
  outline: 3px solid #5F646D;
  box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.05);
}

textarea{
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

/*Layer */
.layer{
  visibility: hidden;
  position: absolute;
  left: 50%; top: 15px;
  transform: translateX(-50%);
  width: 720px; height: 640px;
  border-radius: 20px;
  padding: 8px 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
/*Centered */
.center{
text-align: center;
}
/*Small letters */
.small{
  font-size: 12px;
}

#title{
  font-size: 42px;
  font-weight: thinner;
  font-family: "Sysfont", Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #FFFFFF;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.subtitle{
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
  color: #B0B0B1;
  justify-content: center;
  margin-top: 0;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: -30px;
}
#header{
  font-size: 22px;
  font-family: "Sysfont", Arial, sans-serif;
  margin-bottom: 5px;
  color: #F2F2F2;
  font-weight: lighter;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
#header2{
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
  color: #F2F2F2;
  font-weight: normal;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
#subheader{
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #B0B0B1;
  justify-content: center;
  margin-top: -2px;

  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}


#list_sections{
  background-color: #363941;
  height: 1720px;
  text-align: center;
  
}
#list_problems{
  background-color: #363941;
  text-align: center;
}
#perform{
  background-color: #363941;
  text-align: center;
}
#preferences{
  background-color: #363941;
  text-align: center;
}

.clear{
  display:none;
  width:17px;
  height:17px;
}

a {
  color:#C7C7C7;
  text-decoration: underline;
}
a:hover {
  color:#A8F2FF;
  text-decoration: underline;
}